DATABASE_URL="postgresql://user:password@host.neon.tech/dbname?sslmode=require"

FOOTBALL_DATA_API_URL="https://api.football-data.org/v4"
FOOTBALL_DATA_API_KEY="your-api-key-here"

NEXT_PUBLIC_APP_NAME="PrepCopa"
NEXT_PUBLIC_APP_URL="http://localhost:3000"